{
  "api_keys": {
    "openai_api_key": "",
    "news_api_key": "",
    "marketaux_api_key": "",
    "finnhub_api_key": ""
  },
  "news_sources": ["newsapi", "marketaux"],
  "models": {
    "generating_news_report_model": "GPT_4",
    "generating_stock_symbol_report_model": "GPT_4",
    "generating_purchase_recommendations_model": "GPT_4",
    "summarizing_articles_model": "GPT_35_TURBO",
    "searching_for_trending_stocks_model": "GPT_35_TURBO"
  },
  "reports_and_recommendations": {
    "max_reports": 12
  },
  "directories": {
    "exports_directory": "./exports"
  },
  "database": {
    "db_file": "./sqlite.db",
    "enable_sqlalchemy_logging": false
  },
  "threading": {
    "max_report_fetching_threads": 10
  }
}